.navbar-brand {
  text-align: center;
}

main {
  min-height: 90vh;
}

.heading {
  text-size-adjust: 10px;
}

h1 {
  text-align: center;
}

#quote_body {
  color: yellow;
}

#again {
  color: red;
}

/* Classes for display/hide elements */
.homepage-element {
  display: block;
}

.quotepage-element {
  display: none;
}

#again {
  display: none;
}

.hero-button {
  width: 250px;
  padding: 8px;
  font-size: 8mm;
  margin: 0px 20px 20px 0px;
}

/* Button color */

#happy_button {
  background: #ff69b4;
}

#sad_button {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

#excited_button {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

#tired_button {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

#scared_button {
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}

#anxious_button {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #ff0058 100%);
}

#confused_button {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

#bored_button {
  background: #d8bfd8;
}

#again {
  margin: 0px auto;
  background: #fdfc47; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24fe41,
    #fdfc47
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Blockquote styling */

blockquote {
  display: block;
  font-family: Georgia, serif;
  font-size: 10mm;
  max-width: 950px;
  font-style: italic;
  margin: 0.25em auto;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

#home-link:hover {
  cursor: pointer;
}

.spacer-10 {
  display: block;
  height: 120px;
}
