.navbar-brand {
  text-align: center;
}

body {
  min-height: 100vh;
}

.heading {
  text-size-adjust: 10px;
}

h1 {
  text-align: center;
}

#quote_body {
  color: yellow;
}

#again {
  color: red;
}