.navbar-brand {
  text-align: center;
}

main {
  min-height: 90vh;
}

.heading {
  text-size-adjust: 10px;
}

h1 {
  text-align: center;
}

#quote_body {
  color: yellow;
}

#again {
  color: red;
}

/* Classes for display/hide elements */
.homepage-element {
  display: block;
}

.quotepage-element {
  display: none;
}

#again {
  display: none;
}
